extends partials/layout

append config
  - var current = 'index'

block main 
  
  //- hero section
  .hero
    h1.hero__title
      | DPA-It.
    p.hero__subtitle(style='white-space:pre;')
      | Allways compliant
      | Never any fuss
  
  //- main section
  main.main
    h2 Register Customer
    p 
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequatur magni praesentium! Nihil iure mollitia doloribus ullam sed nobis vero quia est repellendus. 
      
    form(class='form-horizontal',action='/login',method='POST',id='loginForm')
      fieldset
        div.control-group
          label(for='firstname',class='control-label') Username
          div.controls
            input(type='text',id='firstname',class='input-xlarge',data-bind='text:firstname')

        div.control-group
          label(for='lastname',class='control-label') Lastname
          div.controls
            input(type='text',id='lastname',class='input-xlarge',data-bind='text:lastname')

        div.contol-group(id='dpa-container')